@model ProjEventWeb.Models.EventCategoryViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Atividades</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Tipo de atividade
            </th>
            <th>
                Preço
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="TicketPurchase" asp-route-id="@item.Id">Comprar entrada</a>
              <!-- <form>
         <input type="button" onclick="window.location.href = 'http://localhost:5001/Selling/TicketPurchase'"; value="Comprar entrada"/>
      </form> -->
            </td>
        </tr>
}
    </tbody>
</table>